<div id="bulk_update" data-signals={{ signals | json }}>
  <table>
    <caption>Select Rows And Activate Or Deactivate Below</caption>
    <thead>
      <tr>
        <th>
          <input class="checkbox"
                 type="checkbox"
                 data-bind="selections.all"
                 data-on-change="@setAll('selections.contact_', $selections.all)">
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      {% include "templates/bulk-update/contact-row.html" with contact=contact %}
      {% endfor %}
    </tbody>
  </table>
  <div>
    <button data-on-click="@put('/bulk-update/activate'); $selections.all = false; @setAll('selections.contact_', $selections.all)">
      Activate
    </button>
    <button data-on-click="@put('/bulk-update/deactivate'); $selections.all = false; @setAll('selections.contact_', $selections.all)">
      Deactivate
    </button>
  </div>
</div>
