<div id="contact_1" class="flex flex-col gap-2" data-signals={}>
		<label class="flex items-center gap-2 input input-bordered">
			First Name
			<input type="text" class="grow" data-bind="firstName"/>
		</label>
		<label class="flex items-center gap-2 input input-bordered">
			Last Name
			<input type="text" class="grow" data-bind="lastName"/>
		</label>
		<label class="flex items-center gap-2 input input-bordered">
			Email
			<input type="text" class="grow" data-bind="email"/>
		</label>
		<div class="flex gap-4">
			<button
				class="btn btn-primary"
				data-on-click={}
			>
				Save
			</button>
			<button class="btn btn-secondary" data-on-click="@get('/click-to-edit/contact/1')">
				  Cancel
			</button>
		</div>
</div>
