{% extends "templates/layout.html" %}
{% block content %}

<div id="contact_1" class="flex flex-col max-w-sm gap-2">
  <label>First Name: John</label>
  <label>Last Name: Doe</label>
  <label>Email: joe@blow.com</label>
  <div>
    <button
        class="btn btn-primary"
        data-on-click="@get('/click-to-edit/contact/1/edit')">
      Edit
    </button>
    <button
        class="btn btn-primary"
        data-on-click="@get('/click-to-edit/contact/1/reset')">
        Reset
    </button>
  </div>
</div>

{% endblock %}
